Calculate:

1. $[i := i + 1]i > 0$
i>0 (i+1/i) 
i+1>0 
i>-1 
2. $[z := x](z ≥ x ∧ z ≥ y)$
z>=y
3. $[i := i + 1]j = 6$
j=6
# Pre
Pre condition takes conjunction


